---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main>
	<h1> Bienvenido</h1>
	<p>
		Mi nombre es Augusto Vivaldelli, soy un dev desde hace muchas d茅cadas.
		Me gusta el estudio de las ciencias de la computaci贸n en su amplitud. Ac谩 dejo las notas que me van interesando que persistan para un futuro.
	</p>
	<h2>T贸picos que abordo:</h2>
	<ul>
		<li>Programaci贸n funcional</li>
		<li>Desarrollo de software en general</li>
		<li>Arquitectura de sistemas</li>
		<li>Homelabs y automatizaci贸n</li>
		<li>Infraestructura y nube (AWS, Docker, etc.)</li>
		<li>Reflexiones sobre tecnolog铆a y humanidad</li>
	</ul>
	<p> Si te interesa preguntarme algo o teens alguna duda de algun topico de CS, te dejo mis social en el footer.</p>
</main>
<Footer />
</body>
</html>
